[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pygments = "*"
peewee = {editable = true, git = "git://github.com/coleifer/peewee.git"}

[dev-packages]

[requires]
python_version = "3.12"
